div img{
    float:left;
    margin: 20px;
}

div p{
    margin: 210px;
    padding: 20px;
}

@media  (orientation:portrait){

    div p ,img {
           clear:both;
           margin: 0;
    
    }
}
